*{ 
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 font-family:"Turret Road"
}

.id-body{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
  background: white;
}

.card{
  background:rgb(245, 245, 245,0.7);
  width:300px;
  height: 200px;
  box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
  border-radius:20px;
  transition:0.3s
}

.card:hover,
.detail-img img:hover{
  transition:0.3s;
  box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.2),-8px -8px 16px 0 rgba(0,0,0,0.2);
}

.card img{
  object-fit:cover;
  height: fill;
  border-radius:20px 20px 0px 0px;
  transition:0.3s;
}

#content{
  width: auto;
  padding:2vh 1vw 2vh 2vw; 
  font-size:1.3rem;
  font-family:Arial;
  color:#345e82;
}


#content ol{
  padding:2vh 1vw 3vh 3vw;
  font-size:1rem;
  color:black;
  font-weight:700;
/*   transition:0.3s; */
}
#content ol li{
  display:block;
  transition:0.3s;
  list-style-type:123;
  width:auto;
}

#content ol li:hover{
  display:block;
  transition: 0.3s;
  color:#345e82;
  padding-left:2vh;
  cursor:pointer;
  
}

#price{
  display:flex;
  align-items:center;
  justify-content:center;
}

#btn-contador{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#btn-count{
  text-align: center;
  align-items: center;
  width: 30px;
  border-radius: 5px;
}

.btns{
  align-items: center;
}

.btn-show{
  text-align: center;
  width: 30px;
}

.btn-agregar{
  border-radius: 5px;
  width: fit-content;
}


.item-card{
  flex-wrap: wrap;
  max-width: 30%;
}

.d-colum{
  flex-direction: row;
  flex-wrap: wrap;
}

.detail-img{
  display: flex;
  align-items: center;
}

.detail-img img{
  margin: 20px 0px 0px 20px;
  border-radius: 20px;
  padding: 2em;
  width: 600px;
}

.card-container{
  font-size: x-large;
    text-align: center;
    justify-items: center;
}